<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Configure the Logback root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>

    <!-- Application loggers -->
    <logger name="com.hasandag.courier.tracking.system" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
    <logger name="org.apache.kafka" level="WARN"/>

    <!-- Completely disable Logstash logging -->
    <logger name="net.logstash.logback" level="OFF"/>
</configuration> 