<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

    <!-- Use a property for logstash host that can be set via system property -->
    <springProperty scope="context" name="logstashHost" source="logging.logstash.host" defaultValue="logstash"/>
    <springProperty scope="context" name="logstashPort" source="logging.logstash.port" defaultValue="5044"/>

    <appender name="LOGSTASH" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${logstashHost}:${logstashPort}</destination>
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <customFields>{"app_name":"location-service","app_type":"service"}</customFields>
        </encoder>
    </appender>

    <!-- Configure the Logback root logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="LOGSTASH"/>
    </root>

    <!-- Application loggers -->
    <logger name="com.hasandag.courier.tracking.system" level="DEBUG"/>
    <logger name="org.springframework" level="INFO"/>
    <logger name="org.hibernate" level="INFO"/>
</configuration> 